{% extends 'horta/index.html' %}
{% block content %}

<!-- ##### Elements Area Start ##### -->
<section class="elements-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <!-- ========== Buttons ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2 style="text-align: center;">Here you can create a new account!</h2>
                </div>
                {% if message %}
                    <div class="alert alert-{{msg_type}}">{{ message }}</div>
                {% endif %}
            </div>
            <form class="row login_form" action="{% url 'register' %}" method="post" style="margin: 20px;">
                {% csrf_token %}
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="btn newsbox-btn">REGISTER FOR A FREE ACCOUNT</button> 
                </div>                        
                <p style="text-align: left; margin-left: 15px;"><a style="text-decoration: none; color: black;" href="{% url 'llogin' %}">Ah you already have an account? Login Here</a></p>                  
            </form>
            
           
        </div>
    </div>
</section>
<!-- ##### Elements Area End ##### -->


{% endblock %}