{% extends 'horta/layout.html' %}
{% block content %}


<div class="container" style="min-height: 75%;">
    <div style="display: flex; flex-wrap: wrap; align-content: flex-start">
        <div style="max-width: 300px; max-height:200px; flex-grow: 1; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
        <div style="max-width: 300px; max-height:200px; border: 1px solid darkgreen; margin: 2px;">
            <h1>funciona</h1>
        </div>
    </div>
</div>

{% endblock %}